.slider3 {
    width: 100%;
    margin: 100px 0;
}

.slider3-container {
    width: 80%;
    position: relative;
    margin: 0 auto;
    display: flex;
}

.slider3-slider {
    width: 30%;
    padding: 0 20px;
}

.title-slider-three {
    margin-bottom: 32px;
}

.title-slider-three h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.slider-three-item-container .item1 {
    display: flex;
    margin-bottom: 32px;
}
.slider-three-item-container .item1-img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.slider-three-item-container img {
    width:100%;
}


.slider-three-item-container .item-content p {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    color: #8D99AE;
    margin-bottom: 10px;
}

.slider-three-item-container .item-content h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.slider-three-item-container .item-content h3 a {
    font-size: 12px;
    color: #2B2D42;
    text-decoration: none;
    transition: all 0.3s linear;
}

.slider-three-item-container .item-content h3:hover a {
    color: var(--color-red);
}

.slider-three-item-container .item-content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #D10024;
}

.slider-three-item-container .item-content h4 .product-old-price {
    font-size: 70%;
    font-weight: 400;
    color: #8D99AE;
}



.slick-prev-slider3,
.slick-next-slider3 {
    position: absolute;
    top: -52px;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s linear;
    z-index: 9;
}

.slick-prev-slider3 {
    right: 80px;
}

.slick-next-slider3 {
    right: 52px;
}


.slick-prev-slider3:hover ,
.slick-next-slider3:hover {
    background-color: var(--color-red);
    color: #fff;
}